/* CSS */

/* VARIABLES ============================== */

  :root {
    --red: #D6000D;
    --gray: rgb(214, 214, 214);
    --bttn-hover: #ff0011e8;
  }


/* GLOBAL ============================== */

  html,
  body {
    height: 100%;

    scroll-behavior: smooth;
  }

  ul {
    list-style: none;
  }

  .text-input {
    padding: 0 0.5rem;

    background-color: var(--gray);

    border: none;
    border-radius: 0.5rem;
    height: 2rem;
    width: 12rem;

    font-size: 0.9rem;

    transition: 0.1s ease-out;
  }

  .button-input {
    cursor: pointer;

    background-color: var(--red);

    border: none;
    border-radius: 0.5rem;
    height: 2rem;
    width: 5rem;

    font-size: 0.76rem;
    font-weight: bold;
    color: white;

    text-transform: uppercase;
    text-align: center;
  }

  .card {
    padding: 1rem;

    display: flex;
    gap: 1rem;

    width: 50%;

    background-color: var(--gray);

    border-radius: 0.5rem;
  }


/* BODY ============================== */

  #body-container {
    height: 100%;

    /* padding: 0 1rem; */

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    font-family: 'Roboto', sans-serif;
  }


  /* START OF HEADER AND NAV-BAR */

    /* header */
    #header {
      padding: 0 1rem;

      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    #header h1 span {
      font-style: italic;
      color: var(--red);
    }

    /* nav-bar */
    #nav-bar ul {
      padding: 0;

      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 1.5rem;
    }

    #nav-bar ul a {
      text-decoration: none;

      color: black;
    }

    #nav-bar ul li {
      transition: 0.3s ease-out;
    }
    #nav-bar ul li:hover,
    #nav-bar ul a:hover {
      transform: translateY(-3px);
    }

    #nav-bar ul #login-button {
      height: 2rem;
      width: 5rem;

      transition: 0.1s ease-out;
    }
    #login-button:hover {
      background-color: var(--bttn-hover);
      transform: scale(1.05);
    }

  /* END OF HEADER AND NAV-BAR */
  

  /* START OF MAIN */

    .container {
      padding: 0 5rem;
    }

    /* start section */
    .section-container {
      margin: 5rem auto;
    }

    #start-section {      
      display: flex;
      justify-content: space-between;
      /* gap: 5rem; */

      width: 750px;
    }

    #start-section-div {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1.5rem;

      height: 250px;
    }

    #start-section p {
      margin-bottom: 0;

      text-align: center;

      font-size: 1.25rem;
      font-weight: bold;
    }
    #start-section span {
      margin-top: 0;

      display: block;

      font-size: 3rem;
      font-weight: 700;
      color: var(--red);
    }

    #request-budget-button {
      height: 2rem;
      width: 15rem;

      transition: 0.1s ease-out;
    }
    #request-budget-button:hover {
      background-color: var(--bttn-hover);
      transform: scale(1.05);
    }

    /* services section */
    #services-section {
      display: flex;
      flex-direction: column;
      justify-content: center;

      width: 750px;
    }

    #services-section-1 {
      display: flex;
      justify-content: space-between;
      /* gap: 3rem; */
    }

    /* Start benefits ul - list-style with font awesome */
      /*
        How I did the list-style with the icons of Font Awesome?
        https://qastack.com.br/programming/13354578/custom-li-list-style-with-font-awesome-icon
      */

      ul#benefits {
        padding-left: 0;

        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 0.6rem;

        width: 300px;
        height: 250px;

        font-size: 1.1rem;
      }
      ul#benefits li {
        /* 20.8px = 1.3rem */
        padding-left: 35px;
      }
      ul#benefits li:before {
        font-family: 'Font Awesome 5 Free';
        font-size: 1.25rem;
        font-weight: 900;
        display: inline-block;
        content: "\f058"; /* Font Awesome Unicode */
        color: var(--red);

        margin-left: -35px;
        width: 35px;
      }
    /* End benefits ul - list-style with font awesome */

    #services-section-2 {
      /* It's the "Nossa equipe está à disposição!" div */
      display: flex;
      flex-direction: column;
    }

    #services-section-2 p {
      margin: 0.8rem 0;

      font-size: 1.25rem;
      font-weight: bold;
    }
    
    #services-section-2-inputArea {
      display: flex;
      gap: 0.5rem;
    }

    #services-section-2 #weCallYou-button {
      /* height: 2rem; */
      width: 10rem;

      transition: 0.1s ease-out;
    }
    #services-section-2 #weCallYou-button:hover {
      background-color: var(--bttn-hover);
      transform: scale(1.05);
    }

    /* feedback section */
    #feedback-section {
      display: flex;
      justify-content: center;
      gap: 1.5rem;
    }

    #feedback-section .user-avatar {
      margin: auto 0.5rem;

      height: 50px;
      width: 50px;

      clip-path: circle(50% at 50% 50%);
    }

    /* Start of feedback card div */

      #feedback-section .feedback-card .user-text {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }
      #feedback-section .feedback-card p {
        margin-top: 0;
      }
      #feedback-section .feedback-card .feedback-card-userinfos {
        display: flex;
        flex-direction: column;
        font-weight: bold;
      }

    /* End of feedback card div */
  
  /* END OF MAIN */
  

/* FOOTER */

  #footer {
    padding: 1.6rem 2rem;

    display: flex;
    justify-content: space-between;

    background-color: black;
    color: white;
  }

  #footer .footer-div {
    display: flex;
    flex-direction: column;
  }

  /* Start of id="footer" titles corrections */

    #footer h1 {
      margin: 28px 0 0;
    }  
    #footer h1 span {
      font-style: italic;
    }

    #footer .footer-title {
      margin: 40.891px 0 0;

      font-size: 1.3rem;
      font-weight: bold;
    }

  /* End of id="footer" titles corrections*/

  /* footer-contacts */
  #footer-contact a {
    margin: 16px 0;
    color: white;
  }

  /* footer-socialMedia */
  #socialMedia-links {
    padding: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    gap: 1rem;
  }

  #footer .fab {
    font-family: "Font Awesome 5 Brands";
    font-size: 1.5rem;
    color: var(--red);
  }

  #socialMedia-links li {
    transition: 0.3s ease-out;
  }
  #socialMedia-links li:hover {
    transform: translateY(-3px);
  }